{% load static %}
  <header class="navbar navbar-horizontal navbar-expand navbar-dark flex-row align-items-md-group ct-navbar" style="height:78px">
    <a class="navbar-brand mr-0 mr-md-2" href="{% url 'index' %}" aria-label="Bootstrap">
      <img src="{% static 'img/logo.png' %}" style="width:50px; height:50px"><span style="font-size:30px; padding-left:30px; margin-top:20px; text-transform:none">{{ TITLE }}</span>
    </a>
    <ul class="navbar-nav flex-row mr-auto ml-4 d-none d-md-flex">
      <li class="nav-item">
        <a class="nav-link" href="/files/browse/" target="_blank">Browse</a>
      </li>
    </ul>
    <div class="d-none d-sm-block ml-auto">
      <ul class="navbar-nav ct-navbar-nav flex-row align-items-group">
        {% if FACEBOOK_USERNAME %}<li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/{{ FACEBOOK_USERNAME }}" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>{% endif %}
        {% if TWITTER_USERNAME %}<li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/{{ TWITTER_USERNAME }}" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>{% endif %}
        {% if INSTAGRAM_USERNAME %}<li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/{{ INSTAGRAM_USERNAME }}" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>{% endif %}
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="{% if GITHUB_REPO %}{{ GITHUB_REPO }}{% else %}https://github.com/tunel-apps/tunel-django{% endif %}" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
    <form style="margin-top: 15px;" method="GET" action="{% url 'search' %}">
      <div class="form-group">
        <input class="form-control form-control-sm" type="text" name="q" value="" placeholder="Search..." id="search-input">
      </div>
    </form>
    <button class="navbar-toggler ct-search-docs-toggle d-block d-md-none ml-auto ml-sm-0" type="button" data-toggle="collapse" data-target="#ct-docs-nav" aria-controls="ct-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>
