{% extends "base/page.html" %}
{% load static %}
{% block content %}
        <div class="ct-page-title">
          <h1 class="ct-title" id="content">
            Welcome to {% if TITLE %}{{ TITLE }}{% else %}Tunel Django!{% endif %}!
          </h1>
          <div class="avatar-group mt-3">
          </div>
        </div>
        <p class="ct-lead">
          Tunel Django Template
        </p>
        <hr>
        <div class="text-group mb-5">
          <img src="{% static 'img/drawkit/training.svg' %}" class="img-fluid img-group" />
        </div>
        <p>This is a Django template intended to be deployed with tunel for an HPC system.</p>
        <div class="row mt-5">
          <div class="col-md-4">
            <div class="icon icon-shape bg-gradient-primary rounded-circle text-white mb-3">
              <i class="ni ni-html5"></i>
            </div>
            <h6>Developer First</h6>
            <p class="description">The <a href="https://tunel-apps.github.io/tunel-django">documentation</a> provides details for how to easily customize and deploy the application.</p>
          </div>
          <div class="col-md-4">
            <div class="icon icon-shape bg-gradient-danger rounded-circle text-white mb-3">
              <i class="ni ni-paper-diploma"></i>
            </div>
            <h6>Technologies you know</h6>
            <p class="description">We choose simple, modern design elements like Bootstrap so you can iterate quickly.</p>
          </div>
          <div class="col-md-4">
            <div class="icon icon-shape bg-gradient-warning rounded-circle text-white mb-3">
              <i class="ni ni-favourite-28"></i>
            </div>
            <h6>Community</h6>
            <p class="description">If you need any help, we're here <a href="https://tunel-apps.github.io/tunel-django/">to support you</a></p>
          </div>
        </div>
        <h3 id="resources-and-credits">Resources and credits</h3>
        <p>This Design System is fully coded and built on top of Open Source, more details here:</p>
        <ul>
          <li><a href="https://www.getbootstrap.com" target="_blank" rel="nofollow">Bootstrap 4</a> - Open source front end framework</li>
          <li><a href="https://jquery.com" target="_blank" rel="nofollow">jQuery</a> - Fast, small, and feature-rich JavaScript library</li>
          <li><a href="https://fonts.google.com/specimen/Open+Sans" target="_blank" rel="nofollow">Open Sans Font</a> - Google’s Open Source typefaces</li>
          <li><a href="https://github.com/stripe/elements-examples/#example-1" target="_blank" rel="nofollow">Stripe Elements</a> - Forms, Buttons and Elements</li>
        </ul>
        <h3 id="learn-more">Learn more</h3>
        <p>Stay up to date on the development journey and connect with us on:</p>
        <ul>
          <li>Follow <a href="https://twitter.com/vsoch" target="_blank" rel="nofollow">StanfordCompute on Twitter</a>.</li>
          <li>Read and subscribe to <a href="https://vsoch.github.io/" target="_blank" rel="nofollow">@vsoch blog</a>.</li>
        </ul>
        <h3 id="quick-start">Quick start</h3>
        <p><a href="https://tunel-apps.github.io/tunel-django/docs/getting-started" class="btn btn-primary my-4">Quick start here</a></p>
{% endblock %}
